# Sample configuration file for GrabPackt.py

# Packt Publishing credentials
[packt]
user = user
pass = pass
download = true
types = pemc                
links_only = false              
zip = false                     
force_zip = false               

